/*Layout.css
    CSS sheet regarding the behavious and display of the
    elements on the header of the F1Desktop
*/

/*Specificity (0,0,1)*/
header{
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: space-between;
    flex-wrap: wrap;
}
body, html {
    margin: 0;
    padding: 0;
}

header {
    margin: 0;
    padding: 0;
}
/*Specificity (0,0,2)*/
header > nav{
    display: flex; 
    flex-direction: row;
    justify-content: space-around;
    gap: 1em;
    flex-wrap: wrap;
}
/*Specificity (0,1,3)*/
header > nav > a.active{
    background-color: var(--header-highlight-background);
    color:var(--header-highlight-textcolor);
}

/**/
@media screen and (max-width: 465px){
    /*Specificity (0,0,2)*/
    body > p {
        display: none;
    }
    /*Specificity (0,0,1)*/
    header{
        flex-direction: column;
    }/*Redefinición de flex-direction*/

    /*Specificity (0,0,2)*/
    header > nav{
        flex-direction: column;
    }
}