/*Author:
    Aviles - Asturias
    Iván Vega García 
    tfno +34 666 91 14 85
*/
/*Color Palette:
    #B30600 => cream
    #FFD1D3 => Light red
    #FFFFFF => White
    #15151E => Black
*/
:root{
    --general-background: #F4EBD0;
    --general-textcolor: #122620;
    --general-highlight-textcolor: #D6AD60;
    --general-highlight-background: #D6AD60;

    --header-highlight-textcolor: #D6AD60;
    --header-highlight-background: #F4EBD0;
    --header-textcolor: #F4EBD0;
    --header-background: #D6AD60;

    --footer-background: #15151E;
    --footer-textcolor: #F4EBD0;

    --table-header-textcolor: #F4EBD0;
    --table-header-background: #D6AD60;
    --table-background-odd: #F4EBD0;
    --table-background-even: #e9d7a1;

    --dt-textcolor: #F4EBD0;
    --dt-background: #122620;
}

/* HEADER ---------------------------------- */
/*Specificity(0,0,1)*/
header {
    background-color:var(--header-background);
    color : var(--header-textcolor);
    font-size: medium;
    font-weight: bold;
}
/*Specificity(0,1,2)*/
header a:link,
header a:visited{
    text-decoration-line: none;
    color : var(--header-textcolor);
}/*background-color heredado de header*/
/*Specificity(0,1,2)*/
header a:active,
header a:focus,
header a:hover
{
    background-color: var(--header-highlight-background);
    color:var(--header-highlight-textcolor);
}/*background-color heredado de header*/

/* BREADCRUMS  ----------------------------- */
/* Specificity(0,0,2) */
body > p{
    font-size: smaller;

}
/*Specificity(0,0,3)*/
body > p > a{
    color: var(--general-highlight-textcolor);
    text-decoration-line: underline;
    outline-color: transparent;
}/*background-color heredado de body

/* GENERAL HYPERLINKS ---------------------- */
/* Specificity(0,1,1) */
a:link{
    color: var(--general-highlight-textcolor);
    text-decoration-line: underline;
    outline-color: transparent;
}/*background-color heredado de body
/* Specificity(0,1,1) */
a:visited {
    color: var(--general-highlight-textcolor);
}/*background-color heredado de body
/* Specificity(0,1,1) */
a:focus,
a:hover,
a:active{
    color: var(--header-textcolor);
    background-color: var(--header-background);
    text-decoration-line: none;
}

/* GENERAL BODY ---------------------------- */
/*Specificity(0,0,1)*/
h2{
    font-size: xx-large;  
    color: var(--general-highlight-textcolor);
}/*background-color heredado de body
/*Specificity(0,0,1)*/
h3, h4{
    font-size: larger;  
    color: var(--general-highlight-textcolor);
}/*background-color heredado de body
/*Specificity(0,0,1)*/
body {
    font-family: 'Verdana', sans-serif;
    font-size: medium;
    background-color: var(--general-background);
    color: var(--general-textcolor);
}
/*Specificity(0,0,1)*/
main{
    margin: 2%;
}

/* MULTIMEDIA ------------------------------ */
/*Specificity(0,0,1)*/
video, picture, img{
    width: max-content;
    max-width: 100%;
    height: auto;
}

/* LISTS ----------------------------------- */
/*Specificity(0,0,1)*/
ul{
    list-style-type: square;
    font-size: larger;
}
/*Specificity(0,0,1)*/
ol{
    font-size: larger;
    font: bold;
}
/*Specificity(0,0,2)*/
ol ul{
    font-size: medium;
    font: medium;
    list-style-type: "★"; 
}/*Redefinición de font-size
/*Specificity(0,0,1)*/
dt{
    font-weight: bold;
    background-color: var(--dt-background);
    color: var(--dt-textcolor);
}

/* TABLES ---------------------------------- */
/*Specificity(0,0,1)*/
table {
    table-layout: fixed;
    width: 100%;
    border-collapse: collapse;
}
/*Specificity(0,0,1)*/
th, td{
    padding: 1%;
}
/*Specificity(0,0,2)*/
table caption{
    color: var(--header-textcolor);
    background-color: var(--header-background);
    font-size: small;
    text-align: center;
    font-weight:  bold;
}
/*Specificity(0,0,2)*/
table thead{
    color: var(--table-header-textcolor);
    background-color: var(--table-header-background);
}
/*Specificity(0,1,2)*/
  thead th:nth-child(1) {
    width: 25%;
}
  
/*(0,1,2)*/
thead th:nth-child(2), 
thead th:nth-child(3),
thead th:nth-child(4),
thead th:nth-child(5),
thead th:nth-child(6)
{
    width: 10%;
}
/*Specificity(0,0,2)*/
tbody td {
text-align: center;
}
/*Specificity(0,1,2)*/
tbody tr:nth-child(odd) {
background-color: var(--table-background-odd);
}/*color heredado de body*/
/*Specificity(0,1,2)*/
tbody tr:nth-child(even) {
background-color: var(--table-background-even);
}/*color heredado de body*/

/* FOOTER ---------------------------------- */
/*Specificity(0,0,1)*/  
footer{
    background-color: var(--footer-background);
    color: var(--footer-textcoolor);
}
